body {
  margin: 0 !important;
}

.App {
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  /* overflow-y: auto;  */
  position: relative;
}

.holder-container {
  flex-grow: 1;
  position: relative;
}

.wave-container {
  transition: transform 0.5s ease-in-out;
  animation: wave-swim 0.5s ease-in-out forwards;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header {
  outline: #616163 solid;
  position: relative;
  z-index: 1;
}

.header h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
}

#herb {
  margin-top: 5px;
  display: flex;
  position: absolute;
  right: 4%;
  top: 2%;
  max-width: 8%;
}

@media screen and (min-width: 1000px) {
  #herb {
    transform: scale(0.5);
    translate: 0 -40px; 
  }
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eddad0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.scroll-button span {
  font-size: 24px;
  color: #616163
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuButton {
  position: fixed;
  top: 50px;
  left: 15px;
  width: 100%;
  justify-content: center;
}
.wave-animation {
  position: absolute;
  bottom: -20px; /* Adjust this value based on the desired initial position */
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: wave-appear 0.5s ease-in-out forwards;
}
.wave-container.visible {
  display: block;
}

.slide-up {
  transform: translateY(-100%);
}

@keyframes wave-swim-reverse {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wave-container.reverse {
  opacity: 0;
  transform: translateY(-100%);
  animation: wave-swim-reverse 0.5s ease-in-out forwards;
}


@keyframes wave-swim {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

.vote {
  position: absolute;
  bottom: 12vh;
  right: 50px;
  font-size: calc(20px + 2vmin);
  z-index: 1;
  animation: h2-appear 0.7s ease-in-out forwards;
}

@keyframes h2-appear{
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media query for screens with a width of around 400px */
@media screen and (max-width: 600px) {

  .App{
    min-height: calc(50vh + 2vmin);
  }
  .app-wrapper {
    height: 20vh;
  }

  .header {
    position: relative;
    z-index: 1;
    background-color: white; /* Set the background color of the header to white */
  }
  
  .header h1 span {
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: inherit; /* Inherit the background color from the parent (.header) */
  }
  .header h1 {
    padding-top: 0 !important;
    margin-bottom: 150px;
  }
  
  #herb {
    margin-top: 5px;
    display: flex;
    position: absolute;
    right: 4%;
    top: 2%;
    /* max-width: 8%; */
    transform: scale(0.8);
    background-color: inherit; /* Inherit the background color from the parent (.header) */
    /* position: static;
    right: auto;
    top: auto;
    max-width: 20%;
    margin: 0 auto; */
    /* padding-top: 30px; */
  }

  .vote{
    position: fixed;
    margin-top: 60px;
    bottom: 18vh;
    right: 50px;
    font-size: calc(20px + 2vmin);
    z-index: -1;
  }
  .vote h2 {
    margin-bottom: 5px;
    margin-left: 30px;
    background-color: white;
  }
  .vote g {
    margin-left: 20px;
  }
}

