body {
  margin: 0 !important;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  position: relative;
}

.holder-container {
  flex-grow: 1;
  position: relative;
}

.wave-container {
  transition: transform 0.5s ease-in-out;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav ul li {
  padding: 10px;
  margin: 10px;
  background-color: #dcbbb3;
  border-radius: 10px;
}

.nav ul li:hover {
  background-color: #99827c;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10%;
  margin-top: 1% !important;
}

.statement {
  text-align: justify;
  margin: 20px 20px 40px 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #dcbbb3;
}

.header {
  position: relative;
  z-index: 1;
}

.header h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  padding-top: 25px;
  padding-bottom: 25px;
}

#herb {
  margin-top: auto;
  display: flex;
  position: absolute;
  right: 4%;
  top: 2%;
  max-width: 8%;
  width: auto;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcbbb3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;

}

.scroll-button span {
  font-size: 24px;
  color: #fff;
}

.menuButton {
  position: fixed;
  top: 50px;
  left: 15px;
  width: 100%;
  justify-content: center;
}
.wave-animation {
  position: absolute;
  bottom: -20px; /* Adjust this value based on the desired initial position */
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: wave-appear 0.5s ease-in-out forwards;
}
.wave-container.visible {
  display: block;
}

.slide-up {
  transform: translateY(-100%);
}

@keyframes wave-appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.vote {
  position: absolute;
  bottom: 15vh;
  right: 50px;
  font-size: calc(20px + 2vmin);
  z-index: 1;
}

/* Media query for screens with a width of around 400px */
@media screen and (max-width: 420px) {

  /* .App{
    height: calc(20vh + 2vmin);
  } */
  .app-wrapper {
    height: 20vh;
  }
  .container {
    margin: 0;
  }

  .nav ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
  }
  .nav ul li .material-icons {
    margin-right: 5px;
  }

  .header {
    position: relative;
    z-index: 1;
    background-color: white; /* Set the background color of the header to white */
  }
  
  .header h1 span {
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: inherit; /* Inherit the background color from the parent (.header) */
  }
  .header h1 {
    padding-top: 0 !important;
    margin-bottom: 100px;
  }
  
  #herb {
    margin-top: auto;
    display: flex;
    position: absolute;
    right: 4%;
    top: 2%;
    max-width: 8%;
    width: auto;
    background-color: inherit; /* Inherit the background color from the parent (.header) */
    /* position: static;
    right: auto;
    top: auto;
    max-width: 20%;
    margin: 0 auto; */
    padding-top: 50px;
  }

  .vote{
    position: fixed;
    margin-top: 60px;
    bottom: 20vh;
    right: 50px;
    font-size: calc(20px + 2vmin);
  }
  
}

