body {
  margin: 0 !important;
}

.App {
  height: 100vh;
  position: relative;
}

.holder-container {
  min-height: 100%;
  position: relative;
  height: 100px;
}

.container {
  display: flex;
  margin: 10%;
  margin-top: 1% !important;
  text-align: justify;
}
.container > :not(:last-child) {
  margin-bottom: 20px;
}

.header {
  position: relative;
  z-index: 1;
}

.header h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  padding-top: 25px;
  padding-bottom: 25px;
}

#herb {
  margin-top: auto;
  display: flex;
  position: absolute;
  right: 4%;
  top: 2%;
  max-width: 8%;
  width: auto;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcbbb3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.scroll-button span {
  font-size: 24px;
  color: #fff;
}

/* Media query for screens with a width of around 400px */
@media screen and (max-width: 420px) {
  .header h1 {
    margin-top: 0;
  }
  #herb {
    position: static;
    right: auto;
    top: auto;
    max-width: 20%;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.qrcode {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.qrcode.show {
  transform: translate(-50%, -50%) scale(1);
}